DATABASE_URL="postgresql://postgres:postgres123@postgres:5432/healthcare_db01"
REDIS_URL="redis://:redis12345@redis:6379"
REDIS_PASSWORD=redis12345

JWT_ACCESS_SECRET=qwerrtyuiop
JWT_REFRESH_SECRET=qwerrtyuiop123
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

PORT=5000
NODE_ENV=development